{% extends "layout.html" %}

{% block content %}

<div class="mapSelection">
	<button id="mapSelectionBtn" class="mapSelectionBtn" title="1">Candy Core Mine</button>
	<button id="mapSelectionBtn" class="mapSelectionBtn" title="2">Sugar Rock</button>
	<button id="mapSelectionBtn" class="mapSelectionBtn" title="3">Acrospire</button>
	<button id="mapSelectionBtn" class="mapSelectionBtn" title="4">Blitz Beach</button>
	<button id="mapSelectionBtn" class="mapSelectionBtn" title="5">Mechanism</button>
	<button id="mapSelectionBtn" class="mapSelectionBtn" title="6">Machination</button>
</div>

<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a title="tab1" href="#tab1">Place Mode</a></li>
        <li><a title="moveMode" href="#moveMode">Move Mode</a></li>
    </ul>
</div>


<div id="palette" class="blue">
	<div id="tab1" class="tab active">
		<p>Miscellaneous</p>
		<div class="terrain" id="" title="Remove Terrain">X</div>
		<div class="unit" id="rmv" title="Remove Unit"></div>

		<div id="player_race" class="scallywags">
			<hr style='clear:both;'/>
			<p>Terrain</p>
			<div class="terrain selected" id='t1' title="Terrain #1"></div>
			<div class="terrain" id='t2' title="Terrain #2"></div>
			<div class="terrain" id='t3' title="Terrain #3"></div>
			<div class="terrain" id='t4' title="Terrain #4"></div>
			<div class="terrain" id="bonus" title="Bonus Space"></div>
			<div class="terrain" id="s" title="Spawn Point"></div>

			<hr style='clear:both;'/>
			<p>Obstacles</p>
			<div class="terrain" id='o1' title="Obstacle #1"></div>
			<div class="terrain" id='o2' title="Obstacle #2"></div>
			<div class="terrain" id='o3' title="Obstacle #3"></div>

			<hr style='clear:both;'/>
			<p>Bases</p>
			<div class="terrain" id='b' title="Base"></div>

			<hr style='clear:both;'/>
			
			<p>Units</p>
			<div class="unit" id="runner" title="Runner"></div>
			<div class="unit" id="soldier" title="Soldier"></div>
			<div class="unit" id="medic" title="Medic"></div>
			<div class="unit" id="sniper" title="Sniper"></div>
			<div class="unit" id="heavy" title="Heavy"></div>
			<div class="unit" id="feedback_special" title="Scrambler"></div>
			<div class="unit" id="scallywags_special" title="Bombshell"></div>
			<div class="unit" id="adorables_special" title="Mobi"></div>
			<div class="unit" id="veggienauts_special" title="Bramble"></div>
		</div>

		<hr style='clear:both;'/>
		<p>Players</p>
		<div class="color selected" id="blue" title="Player 1"></div>
		<div class="color" id="red" title="Player 2"></div>
		<div class="color" id="green" title="Player 3"></div>
		<div class="color" id="yellow" title="Player 4"></div>

		<hr style='clear:both;'/>
		<p>Race</p>
		<div class="race selected" id="race_scallywags" title="scallywags"></div>
		<div class="race" id="race_feedback" title="feedback"></div>
		<div class="race" id="race_adorables" title="adorables"></div>
		<div class="race" id="race_veggienauts" title="veggienauts"></div>

	    <hr style='clear:both;'/>
	    <p>Health</p>
	    <div class="health" id="health1" title="1"></div>
	    <div class="health" id="health2" title="2"></div>
	    <div class="health" id="health3" title="3"></div>
	    <div class="health" id="health4" title="4"></div>
	    <div class="health" id="health5" title="5"></div>

		<hr style='clear:both;'/>

	</div>
	
	<div id="moveMode" class="tab">
        <button class="back" id="backBtn" title="Back Button">Back</button>
        <button class="fwdBtn" id="fwdBtn" title="Forward Button">Forward</button>
        <input id="currentWits" type="text" value="0" name="currentWits"></input>
	</div>
</div>

<div id="headline">
	<div id="fork">
		<button id="theme" class="btn btn-inverse btn-small "><span class='icon-retweet icon-white'></span>Change Theme</button>
		</div>
			<p id="mapname">This could be your Map Name</p>
		<p style='margin-top:40px; font-weight: normal'>And this is the line your name will appear in.</p>
	</div>
<div id='mapwrapper'>
	<canvas id="map" height="700" width="700"></canvas>
</div>

<p style='clear: both;' id="disclaimer">Outwitters&trade; is a registered trademark of <a href='http://onemanleft.com/'>One Man Left Studios, LLC</a>. This is not an official One Man Left website. The used graphics and designations are the property of <a href='http://onemanleft.com/'>One Man Left Studios, LLC</a>.
	</p>

<script src="js/Config.js"></script>
<script src="js/mapData.js"></script>
<script src="js/Hexagon.js"></script>
<script src="js/Grid.js"></script>
<script src="js/Functions.js"></script>
<script src="js/Model.js"></script>
<script src="js/View.js"></script>
<script src="js/App.js"></script>

{% endblock %}

