{% extends "layout.html" %}

{% block content %}

<div class="mapSelection">
	<button id="mapSelectionBtn" class="mapSelectionBtn" title="1">Candy Core Mine</button>
	<button id="mapSelectionBtn" class="mapSelectionBtn" title="2">Sugar Rock</button>
	<button id="mapSelectionBtn" class="mapSelectionBtn" title="3">Acrospire</button>
	<button id="mapSelectionBtn" class="mapSelectionBtn" title="4">Blitz Beach</button>
	<button id="mapSelectionBtn" class="mapSelectionBtn" title="5">Mechanism</button>
	<button id="mapSelectionBtn" class="mapSelectionBtn" title="6">Machination</button>
</div>

<div id="palette" class="blue">
	<p>Miscellaneous</p>
	<div class="terrain" id="" title="Remove Terrain">X</div>
	<div class="unit" id="rmv" title="Remove Unit"></div>

	<div id="player_race" class="scallywags">
		<hr style='clear:both;'/>
		<p>Terrain</p>
		<div class="terrain selected" id='t1' title="Terrain #1"></div>
		<div class="terrain" id='t2' title="Terrain #2"></div>
		<div class="terrain" id='t3' title="Terrain #3"></div>
		<div class="terrain" id='t4' title="Terrain #4"></div>
		<div class="terrain" id="bonus" title="Bonus Space"></div>
		<div class="terrain" id="s" title="Spawn Point"></div>

		<hr style='clear:both;'/>
		<p>Obstacles</p>
		<div class="terrain" id='o1' title="Obstacle #1"></div>
		<div class="terrain" id='o2' title="Obstacle #2"></div>
		<div class="terrain" id='o3' title="Obstacle #3"></div>

		<hr style='clear:both;'/>
		<p>Bases</p>
		<div class="terrain" id='b' title="Base"></div>

		<hr style='clear:both;'/>
		
		<p>Units</p>
		<div class="unit" id="runner" title="Runner"></div>
		<div class="unit" id="soldier" title="Soldier"></div>
		<div class="unit" id="medic" title="Medic"></div>
		<div class="unit" id="sniper" title="Sniper"></div>
		<div class="unit" id="heavy" title="Heavy"></div>
		<div class="unit" id="feedback_special" title="Scrambler"></div>
		<div class="unit" id="scallywags_special" title="Bombshell"></div>
		<div class="unit" id="adorables_special" title="Mobi"></div>
		<div class="unit" id="veggienauts_special" title="Bramble"></div>
	</div>

	<hr style='clear:both;'/>
	<p>Players</p>
	<div class="color selected" id="blue" title="Player 1"></div>
	<div class="color" id="red" title="Player 2"></div>
	<div class="color" id="green" title="Player 3"></div>
	<div class="color" id="yellow" title="Player 4"></div>

	<hr style='clear:both;'/>
	<p>Race</p>
	<div class="race selected" id="race_scallywags" title="scallywags"></div>
	<div class="race" id="race_feedback" title="feedback"></div>
	<div class="race" id="race_adorables" title="adorables"></div>
	<div class="race" id="race_veggienauts" title="veggienauts"></div>

	<hr style='clear:both;'/>

	<form id="form" action="" method="POST">
					<div class="control-group">
				<p>Map Name</p>
				<input id="mapname" class="input-large" type="text" maxlength="30" placeholder="A useful name" />
				<small>The map name cannot be changed.</small>
			</div>
			<hr style='clear:both;'/>
			<div class="control-group">
				<p>Author Name</p>
				<input id="author" class="input-large" type="text" maxlength="30" placeholder="Your OML forums nickname" />
				<small>Your name appears when viewing the map.</small>
			</div>
			<hr style='clear:both;'/>
			<div class="control-group">
				<p>Password</p>
				<div class="input-append">
					<input id="pw" class="span2" type="password" data-id="" maxlength="30" placeholder="Map Password" />
					<button type="submit" class="btn btn-primary">Save Map</button>
				</div>
				<small>The password is required for editing your map.</small>
				<small>You better remember it.</small>
			</div>

	</form>

</div>
<div id="headline">
	<div id="fork">
		<button id="theme" class="btn btn-inverse btn-small "><span class='icon-retweet icon-white'></span>Change Theme</button>
		</div>
			<p id="mapname">This could be your Map Name</p>
		<p style='margin-top:40px; font-weight: normal'>And this is the line your name will appear in.</p>
	</div>
<div id='mapwrapper'>
	<canvas id="map" height="700" width="700"></canvas>
</div>

<p style='clear: both;' id="disclaimer">Outwitters&trade; is a registered trademark of <a href='http://onemanleft.com/'>One Man Left Studios, LLC</a>. This is not an official One Man Left website. The used graphics and designations are the property of <a href='http://onemanleft.com/'>One Man Left Studios, LLC</a>.
	</p>

<script src="js/mapData.js"></script>
<script src="js/Hexagon.js"></script>
<script src="js/Grid.js"></script>
<script src="js/Functions.js"></script>
<script src="js/Model.js"></script>
<script src="js/View.js"></script>
<script src="js/App.js"></script>

{% endblock %}

