<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="/"><span style='vertical-align: middle;' class='icon-file'></span> New Map</a>
        <ul class="nav">
            <li class="divider-vertical"></li>
            <li><a><span class='icon-backward icon-white'></span></a></li>
            <li class="divider-vertical"></li>
            <li><a><span class='icon-forward icon-white'></span></a></li>
            <li class="divider-vertical"></li>

            <li><a href="/popular/"><span class='icon-heart'></span> Popular</a></li>
            <li><a href="/latest/"><span class='icon-time'></span> Latest</a></li>
            <li><a href="/2v2/"><span class='icon-th-large'></span> 2v2</a></li>
            <li><a href="/fun/"><span class='icon-film'></span> Fun</a></li>
            <li class="divider-vertical"></li>
            <li>      	<a href="/authors/"><span class='icon-user'></span> Authors</a></li>
            <li class="divider-vertical"></li>
            <li><a href="http://onemanleft.com/forums/showthread.php?tid=1371" target='_blank' title='OML Forums'><span class='icon-wrench'></span> Tech Support</a></li>
        </ul>
    </div>
</div>